.b-text__quote
{
    font-family: "Georgia", sans-serif;
    font-size: 28px;
    font-style: italic;
    line-height: 42px;
    max-width: 470px;
    color: #848484;
}

.b-text__quote-author
{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 42px;
    color: #333333;
}