@font-face {
    font-family: 'Euclid Circular B';
    src: local('Euclid Circular B Bold'), local('EuclidCircularB-Bold'),
        url('../../upload/font/Euclid/EuclidCircularB-Bold.woff2') format('woff2'),
        url('../../upload/font/Euclid/EuclidCircularB-Bold.woff') format('woff'),
        url('../../upload/font/Euclid/EuclidCircularB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Euclid Circular B';
    src: local('Euclid Circular B Medium'), local('EuclidCircularB-Medium'),
        url('../../upload/font/Euclid/EuclidCircularB-Medium.woff2') format('woff2'),
        url('../../upload/font/Euclid/EuclidCircularB-Medium.woff') format('woff'),
        url('../../upload/font/Euclid/EuclidCircularB-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: local('Euclid Circular B SemiBold'), local('EuclidCircularB-SemiBold'),
        url('../../upload/font/Euclid/EuclidCircularB-SemiBold.woff2') format('woff2'),
        url('../../upload/font/Euclid/EuclidCircularB-SemiBold.woff') format('woff'),
        url('../../upload/font/Euclid/EuclidCircularB-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: local('Euclid Circular B Light'), local('EuclidCircularB-Light'),
        url('../../upload/font/Euclid/EuclidCircularB-Light.woff2') format('woff2'),
        url('../../upload/font/Euclid/EuclidCircularB-Light.woff') format('woff'),
        url('../../upload/font/Euclid/EuclidCircularB-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('../../upload/font/Euclid/EuclidCircularB-Regular.eot');
    src: local('Euclid Circular B Regular'), local('EuclidCircularB-Regular'),
        url('../../upload/font/Euclid/EuclidCircularB-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../upload/font/Euclid/EuclidCircularB-Regular.woff2') format('woff2'),
        url('../../upload/font/Euclid/EuclidCircularB-Regular.woff') format('woff'),
        url('../../upload/font/Euclid/EuclidCircularB-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}