.b-title_h1
{
    font: 500 42px/1.09 "Euclid Circular B", sans-serif;
}

.b-title_h2
{
    font: 500 36px/1.09 "Euclid Circular B", sans-serif;
}

.b-title_h2
{
    font: 500 28px/1.09 "Euclid Circular B", sans-serif;
}